<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a post</title>
     <link rel="stylesheet" href="/newStyle.css" />
</head>
<body>
    <h1>POST ON QUORA</h1>
    <hr/><br>
    <form method="post" action="/posts">
    <input name="username" type="text" placeholder="Enter your username"><br><br>
    <textarea name="content" placeholder="Enter your content" rows="15" cols="50"></textarea><br>
    <button>Post</button>
    </form>
</body>
</html>