<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See post in detail</title>
    <link rel="stylesheet" href="/show.css">
</head>
<body>
    <h1>QUORA POSTS</h1>
    <div class="content">
     <h2>USERNAME : <%=post.username%> </h2>
     <h3>CONTENT : <%=post.content%> </h3>
     </div>
</body>
</html>